.platform {
  margin-top: 217px;
  img {
    padding-bottom: 24px;
  }
  h3 {
    font: normal normal bold 24px/35px Noto Sans TC;
  }
  p {
    font: normal normal normal 16px/24px Noto Sans TC;
    color: #747474;
  }
}

.platform-title {
  font: normal normal bold 32px/46px "Noto Sans TC";
}

.platform-info {
  padding-top: 48px;
}
